<div class="card" *ngIf="todoItems">
    <div class="card-body">

        <h4 class="card-title">Todo List</h4>

        <p class="card-text">Here is a list of todo items:</p>

        <ul class="list-group">
            <span *ngFor="let todoItem of todoItems">
                <div class="form-check">
                    <label class="form-check-label">

                      <!-- SHOW ONLY IF ITEM IS ACTIVE -->
                      <span *ngIf="!todoItem.active;else inactive_todoitem">
                          <input type="checkbox" class="form-check-input" id="checkbox_{{todoItem.id}}" value="todoItem.id" (click)="toggle(todoItem)" checked>
                        <a href="#" id="todoitem_{{todoItem.id}}" class="inactive">{{todoItem.title}}</a>
                      </span>

                      <!-- SHOW ONLY IF ITEM IS NOT ACTIVE -->
                      <ng-template #inactive_todoitem>
                          <input type="checkbox" class="form-check-input" id="checkbox_{{todoItem.id}}" value="todoItem.id" (click)="toggle(todoItem)">
                        <a href="#" id="todoitem_{{todoItem.id}}" class="active">{{todoItem.title}}</a>
                      </ng-template>

                    </label>

                </div>
            </span>
        </ul>
    </div>
  </div>