<div class="card">
    <div class="card-body">

      <h4 class="card-title">Add New Item</h4>

      <p class="card-text">Here you can add new items:</p>

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title">
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input type="password" class="form-control" id="description">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary">Add</button>
      </div>

    </div>
  </div>